*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bin.* filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zstandard filter=lfs diff=lfs merge=lfs -text
*.tfevents* filter=lfs diff=lfs merge=lfs -text
*.db* filter=lfs diff=lfs merge=lfs -text
*.ark* filter=lfs diff=lfs merge=lfs -text
**/*ckpt*data* filter=lfs diff=lfs merge=lfs -text
**/*ckpt*.meta filter=lfs diff=lfs merge=lfs -text
**/*ckpt*.index filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.wma filter=lfs diff=lfs merge=lfs -text
*.aac filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.m4a filter=lfs diff=lfs merge=lfs -text
*.m3u8 filter=lfs diff=lfs merge=lfs -text
*.amr filter=lfs diff=lfs merge=lfs -text
*.audio filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.flv filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mpg filter=lfs diff=lfs merge=lfs -text
*.asf filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.3gp filter=lfs diff=lfs merge=lfs -text
*.wmv filter=lfs diff=lfs merge=lfs -text
*.rmvb filter=lfs diff=lfs merge=lfs -text
*.rm filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.flash filter=lfs diff=lfs merge=lfs -text
*.vob filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ost filter=lfs diff=lfs merge=lfs -text
*.pst filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.vsd filter=lfs diff=lfs merge=lfs -text
*.vsdx filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
 
dataset_infos.json ignore
*.csv filter=lfs diff=lfs merge=lfs -text
*.tsv filter=lfs diff=lfs merge=lfs -text

家庭收纳整理_merged.json filter=lfs diff=lfs merge=lfs -text
安全常识普及_merged.json filter=lfs diff=lfs merge=lfs -text
理财规划建议_merged.json filter=lfs diff=lfs merge=lfs -text
江西_merged.json filter=lfs diff=lfs merge=lfs -text
节能环保生活_merged.json filter=lfs diff=lfs merge=lfs -text
辽宁_merged.json filter=lfs diff=lfs merge=lfs -text
天津_merged.json filter=lfs diff=lfs merge=lfs -text
安徽_merged.json filter=lfs diff=lfs merge=lfs -text
重庆_merged.json filter=lfs diff=lfs merge=lfs -text
微积分入门_merged.json filter=lfs diff=lfs merge=lfs -text
科学知识问答_merged.json filter=lfs diff=lfs merge=lfs -text
项目开发指导_merged.json filter=lfs diff=lfs merge=lfs -text
职业规划_merged.json filter=lfs diff=lfs merge=lfs -text
浙江_merged.json filter=lfs diff=lfs merge=lfs -text
江苏_merged.json filter=lfs diff=lfs merge=lfs -text
学习方法指导_merged.json filter=lfs diff=lfs merge=lfs -text
健康饮食指导_merged.json filter=lfs diff=lfs merge=lfs -text
心理健康维护_merged.json filter=lfs diff=lfs merge=lfs -text
Python编程基础_merged.json filter=lfs diff=lfs merge=lfs -text
线性代数_merged.json filter=lfs diff=lfs merge=lfs -text
代码优化建议_merged.json filter=lfs diff=lfs merge=lfs -text
常见错误排查_merged.json filter=lfs diff=lfs merge=lfs -text
机器学习入门_merged.json filter=lfs diff=lfs merge=lfs -text
概率统计_merged.json filter=lfs diff=lfs merge=lfs -text
三角函数_merged.json filter=lfs diff=lfs merge=lfs -text
几何基础_merged.json filter=lfs diff=lfs merge=lfs -text
日常问题解决_merged.json filter=lfs diff=lfs merge=lfs -text
上海_merged.json filter=lfs diff=lfs merge=lfs -text
社交礼仪指导_merged.json filter=lfs diff=lfs merge=lfs -text
黑龙江_merged.json filter=lfs diff=lfs merge=lfs -text
福建_merged.json filter=lfs diff=lfs merge=lfs -text
烹饪技巧分享_merged.json filter=lfs diff=lfs merge=lfs -text
技术概念解释_merged.json filter=lfs diff=lfs merge=lfs -text
日常保健知识_merged.json filter=lfs diff=lfs merge=lfs -text
吉林_merged.json filter=lfs diff=lfs merge=lfs -text
山西_merged.json filter=lfs diff=lfs merge=lfs -text
时间管理技巧_merged.json filter=lfs diff=lfs merge=lfs -text
北京_merged.json filter=lfs diff=lfs merge=lfs -text
数论基础_merged.json filter=lfs diff=lfs merge=lfs -text
工具使用技巧_merged.json filter=lfs diff=lfs merge=lfs -text
数学建模_merged.json filter=lfs diff=lfs merge=lfs -text
数学竞赛_merged.json filter=lfs diff=lfs merge=lfs -text

merged_dataset.json filter=lfs diff=lfs merge=lfs -text

merged_dataset_add.json filter=lfs diff=lfs merge=lfs -text